.card{
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  overflow: hidden;}

.card:hover img {
  transform: scale(1.2,1.2);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}
  .card img{
      transform: scale(1,1);
      transition-duration: 500ms;
      transition-timing-function: ease-out;



  }
.img-wrapper{
  overflow: hidden;
  position: relative;
}  
  .propImg{
    display: block; /* Ensures the image behaves like a block element */
    margin-left: auto; /* Center the image horizontally */
    margin-right: auto;
    max-width: 100%; /* Prevent the image from exceeding the card's width */
    max-height: 200px; /* Optional: limit the height of the image */
    object-fit: contain;
  }
.member-icons{
  position: absolute;
  bottom: -30%;
  left: -30%;
  right: -30%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
}
.card:hover .member-icons{
  bottom: -3%;
}
.animate{
  transition: all 0.3s ease-in-out;
  opacity: 1;
}