<!-- Cardurile pentru fiecare telefon cu mentiunea de inchiriat unde este cazul -->
    <div class="card p-2">
        <div class="image-wrapper">
        <img *ngIf= "property.image" class="propImg" src ="assets/images/{{property.image}}.png" alt="Example Image">
        <img *ngIf= "!property.image" class="propImg" src ="assets/images/phone_default.png" alt="Example Image">
        <ul *ngIf="!hideIcons" class="list-inline text-center member-icons animate">
            <li class="list-inline-item">
                <button class="btn btn-primary" routerLink="/telefoane-detalii/{{property.ID}}"><i class="fa-solid fa-pen-to-square"></i></button>
            </li>
            <li class="list-inline-item">
                <button class="btn btn-primary"><i class="fa-regular fa-address-book"></i></button>
            </li >
        </ul>
    </div>
        <div class="card-body p-3 center">
            <h1 class="mb-lg-0">{{property.name}}  {{property.type}}</h1>
            <h6 class="mt-2"> {{property.Anmodel}}</h6>
            <hr class="mt-0 mb-2">
            <h6 class="mb-0"> Pret: <span  class="font-highlight">{{property.pret}} RON</span> 
                Procesor: <span>{{property.procesor}}</span> 
                Spatiu stocare: <span>{{property.memorie}} GB;</span>
                Baterie: <span>{{property.baterie}} mAh;</span> 
                Display: <span>{{property.display}}; </span>
                Retele: <span *ngFor="let retea of property.retele; let i = index">{{retea}}
                            <span *ngIf="i < property.retele.length - 1">, </span>
                        </span>

            </h6>
            <span 
            *ngIf="property.SellExc === 2" 
            class="badge bg-warning text-danger">La schimb!</span>
    </div></div>
