<!-- rutele pentru fiecare link din butoane sunt in app.module.ts -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="color: green;">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Telefoane ieftine</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" aria-current="page" routerLink="/">Acasa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="cumpara-telefon">Cumpara</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="schimba_telefon">Schimba</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/add-element">Adauga anunt!</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
            <li *ngIf="!loggedin()" class="nav-item">
              <a class="nav-link" routerLink="user/register" routerLinkActive="active">Inregistreaza-te</a>
            </li>
            <li *ngIf="!loggedin()" class="nav-item">
              <a class="nav-link" routerLink="user/login" routerLinkActive="active">Autentifica-te</a>
            </li>
            <div *ngIf="loggedin()" class="dropdown mr-5" dropdown>
              <a href="#" class="dropdown-toggle text-light" dropdownToggle (click)="false">
                  Acceseaza contul tau, {{loggedinUser}}
              </a>
              <div class="dropdown-menu" *dropdownMenu>
                  <a href="#"class="dropdown-item">
                    <i class="fas fa-tachometer-alt"></i> Optiuni</a>
                  <a href="#" class="dropdown-item">
                    <i class="far fa-user-circle"></i> Profil</a>
                  <a href="#" class="dropdown-item">
                    <i class="fas fa-key"></i> Schimba parola</a>
                  <a (click)='onLogout()' class="dropdown-item">
                    <i class="fas fa-sign-out-alt"></i> Iesi din cont</a>
              </div>
          
       </div></ul></div>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>