<div class="container">
<div class="row gx-2 shadow">
  <div class="col-3 mr-2">
    <div class="card">
    <div class="card-img-wrapper">
      <img class="card-img-top" src="assets/images/{{property.image}}.png">
    </div>
    <div class="card-body">
      <h1 class="mb-lg-0">{{property.name}} {{property.type}}</h1>
            <h6 class="mt-2"> {{property.Anmodel}}</h6>
            <hr class="mt-0 mb-2">
            <h6 class="mb-0"> Pret: <span  class="font-highlight">{{property.pret}}</span> 
                Procesor: <span>{{property.procesor}}</span> 
                Spatiu stocare: <span>{{property.memorie}}</span>
                Baterie: <span>{{property.baterie}}.</span> 
                Display: <span>{{property.display}}</span>
                Retele: <span>{{property.retele}}</span>
            </h6>
            <div>
            </div>
    <div class="card-footer">
      <div class="btn-group d-flex">
      <button class="btn btn-primary">Like</button>
      <button class="btn btn-success">Message</button>
    </div>
    </div>
  </div>
  </div> </div>
  <div class="col-8">
    <tabset class="member-tabset">
      <tab heading="Info de baza">
        De populat
      </tab>
      <tab heading="Starea de utilizare">
        de populat
      </tab>
      <tab heading="Specificatii">
        de populat
      </tab>
      <!-- <tab heading="Fotografii">
        <carousel>
          <slide>
            <img src="assets/images/tel-1.png" alt="first slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="assets/images/tel-2.png" alt="second slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="assets/images/tel-3.png" alt="third slide" style="display: block; width: 100%;">
          </slide>
        </carousel>
      </tab> -->
      <tab heading="Contact">
        Zona restrictionata
      </tab>
    </tabset>
  </div>
</div>
</div>








<!-- Detalii pt fiecare telefon in parte - de populat cu id nume tip pret si o poza - wip -->
<div class="asezare">
<p>
  telefoane-detalii works!
  Id ul telefonului este {{telefonID}}
</p>
<br>
<button (click)="onSelectNext()" class="btn btn-primary">Urmatoarea pagina</button>
<br/> 
<br/>
<button routerLink="/telefoane-detalii/1" class="btn btn-primary"> 1 </button>
<button routerLink="/telefoane-detalii/2" class="btn btn-primary"> 2 </button>
<button routerLink="/telefoane-detalii/3" class="btn btn-primary"> 3 </button>
<button [routerLink]="['/telefoane-detalii','4']" class="btn btn-primary">4</button>
</div>
