.asezare{
    padding: 20px;
}
.card{
    min-height: 400px;
  }
  
  .card-body h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 79, 36)
  }
  
  .font-highlight{
    font-style:italic
  }
  
  .card{
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    overflow: hidden;}
  
  .card:hover img {
    transform: scale(1.2,1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
  }
    .card img{
        padding: 10px;
        transform: scale(1,1);
        transition-duration: 500ms;
        transition-timing-function: ease-out;
  
  
  
    }
  .img-wrapper{
    overflow: hidden;
    position: relative;
  }  
    .propImg{
      display: block;
      margin-left: auto; 
      margin-right: auto;
      max-width: 100%; 
      max-height: 200px; 
      object-fit: contain;
    }
  .member-icons{
    position: absolute;
    bottom: -30%;
    left: -30%;
    right: -30%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
  }
  .card:hover .member-icons{
    bottom: -3%;
  }
  .animate{
    transition: all 0.3s ease-in-out;
    opacity: 1;
  }
  .badge {
    display: inline-block;
    margin-top: 10px;
    font-size: 0.85rem;
    padding: 5px 10px;
    border-radius: 5px;
  }